# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Web.config
Web.Release.config
Web.Debug.config

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

/bin
/.vs
# =========================
# Operating System Files
# =========================
